#jay {
    height: 100px;
    width: 100px;
    background-color: aqua;
    border: 2px solid black;
    position: relative;
    top: 50px;
    left: 30px;
    /* transition-property: all;
    transition-duration: 2s;
    transition-timing-function: steps(3);
    transition-delay: 1s; */
    transition: all 2s ease-in 1s;
    /* transform: rotate(75deg); */
    /* rotate:x 90deg; */
    /* transform: scale(.5); */

}

#jay:hover{
    background-color: red;
    color: white;
    font-size: 20px;
    transform: scalex(2);
    /* transform: translate(200px,100px); */
    transform: skew(-90deg);
}

#jay:active{
    background-color: pink;
}

#thor{
    height: 100px;
    width: 100px;
    background-color: green;
    border: 2px solid black;
    position: absolute;
    top: 300px;
    left: 30px;
    /* animation-name: colorAnimate;
    animation-duration: 2s;
    animation-timing-function: linear;
    animation-delay: 1s;
    animation-iteration-count: infinite;
    animation-direction: alternate; */
    animation: colorAnimate 2s ease-in 0s infinite normal;
}

/* @keyframes colorAnimate{
    from{
        left:0px;
        background-color: green;
    }
    to{
        left:200px;
        background-color: yellow;
    }
        
} */

@keyframes colorAnimate{
    0%{
        left:0px;
        background-color: green;
    }

    50%{
        background-color: blue;
    }
    
    100%{
        left:200px;
        background-color: yellow;
    }
    
}

