*{
    padding: 0;
    margin: 0;
    color: white;
}
#navbar{
    height: 60px;
    background-color: #0f1111;
}
#logo{
    color: #f08804;
    font-size: 25px;
}
button{
    background-color: #f08804;
}
a{
    margin-right: 200px;
    text-decoration: none;
}
#content{
    height: 900px;
    margin-left: 100px;
    
}
.con{
    height: 100px;
    width: 100px;
    border: 2px dashed black;
    margin: 50px;
    border-radius: 50%;
    text-align: center;
    padding: 30px;
    /* display: inline-block; */
}
#box1{
    background-color: rgba(255,0,0,0.5);

}
#box2{
    background-color: rgba(255,255,0,0.5);
    /* visibility: hidden; */
}
#box3{
    background-color: rgba(0,255,0,0.5);
}
footer{
    background-color: #0f1111;
    color: white;
    text-align: center;
}
#rect{
    background-color: pink;
    display: inline-block;
    margin: 50px;
}
