div{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 20px solid wheat;
    border-top: 20px solid blue;
    animation: spinAnimate 1s ease-in-out 0s infinite normal;
}

@keyframes spinAnimate{
    from{
        transform: rotate(0deg);
    }
    to{
        transform: rotate(360deg);
    }
}